<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Contacto</title>
        {% load static %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'imagenes/logo.jpeg'%}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body style="background-color: rgb(165, 141, 141);">

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../inicio">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active" href="../contacto">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="../login">Iniciar Sesion</a></li>
                        <li class="nav-item"><a class="nav-link" href="../agendar-hora">Agendar Hora</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <link href="{%static 'css/contacto.css' %}" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/201ebab3d1.js" crossorigin="anonymous"></script>
        <!-- <div class="row justify-content-center mt-3">
            <div class="cuadro">
                <div class="col-6 mt-3 ml-3">
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        <img src="{%static 'imagenes/logo_1.png'%}" style="width: 200px;">
                    </div>
                    <div class="row  mt-3">
                        <i class="fab fa-instagram fa-2x"><a href="https://www.instagram.com/"> instagram</a></i>
                    </div>
                    <div class="row mt-3">
                        <i class="fab fa-facebook fa-2x"><a href="https://www.facebook.com/"> facebook</a></i>
                    </div>
                    <div class="row mt-3">
                        <i class="fab fa-whatsapp fa-2x"><a href="https://www.whatsapp.com/"> +5691111111</a></i>
                    </div>
                    <div class="row mt-3">
                        <i class="fas fa-phone fa-2x"> +5691111111</i>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="cuadro mt-3">
                
                <div class="row justify-content-center mt-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.2574419103826!2d-70.59107338420164!3d-33.46864760583378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cfdb2a1dbfb1%3A0x6815043238de0ce6!2sJuan%20Moya%20Morales%201554%2C%20%C3%91u%C3%B1oa%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1625362929792!5m2!1ses-419!2scl" style="height: 400px;width: 800px;"  allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-2"></div>
                    <div class="col-5">
                        <img src="{%static 'imagenes/logo_1.png'%}" style="width: 400px;">
                    </div>
                    
                    <div class="col-5">
                        <div class="row  mt-3">
                            <i class="fab fa-instagram fa-2x"><a href="https://www.instagram.com/"> instagram</a></i>
                        </div>
                        <div class="row mt-3">
                            <i class="fab fa-facebook fa-2x"><a href="https://www.facebook.com/"> facebook</a></i>
                        </div>
                        <div class="row mt-3">
                            <i class="fab fa-whatsapp fa-2x"><a href="https://www.whatsapp.com/"> +5691111111</a></i>
                        </div>
                        <div class="row mt-3">
                            <i class="fas fa-phone fa-2x"> +5691111111</i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer-->
        <footer class="bg-dark" style="position:fixed; bottom:0; width:100%;">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{%static 'js/scripts.js'%}"></script>
    </body>
</html>