<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sample Headline, Sample Headline, Sample Headline, Reservar hora">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>PEDIR CITA</title>
    <link rel="stylesheet" href="select_reservas.css" media="screen">
  </head>

  <body>
    </script>
      <br><br>
      <div class="wrapper">
        <h2 class="subttl">SOLICITAR HORARIO DE CITA</h2>
        <div class="calendar-booking">
          <h4>Solicita una cita para acudir en los horarios disponibles.</h4>
          <div class="calendar-booking-centre-row">
            <div class="col-sm-6 col-xs-12 calendar-booking-centre__name">
              <p type="text"> Tipo de servicio: </p>
                <span class="caret select"></span>
                <select class="form-control" style="width: 165px; right: 690px">
                  <option value="1"  selected="selected">
                    Extensión de Pestañas
                  </option>
                  <option value="2"  selected="selected" >
                    Lifting de Pestañas
                  </option>
                  <option value="3"  selected="selected" >
                    Lifting de Cejas
                  </option>
                  <option value="4"  selected="selected" >
                    Limpieza facial
                  </option>
                </select>
              </div>
            </div>
            <br><br>
            <form class="form">
              <label for="start">Fecha de Reserva</label><input type="date" id="start" name="trip-start" value="Fecha" min="1900-01-01" max="Fecha">
            </form>
            <div class="container">
              <div class="col-sm-6 col-xs-12 calendar-booking-centre__name">
	             <p type="text"> Horarios Disponibles: </p>
	               <span class="caret select"></span>
	               <select class="form-control" style="width: 140px; background: #ffa500; position: relative; left: 175px">
	                  <option value="1"  selected="selected" >
	                    9:00 - 9:30
	                  </option>
	                  <option value="2"  selected="selected" >
	                    9:30 - 10:00
	                  </option>
	                  <option value="3"  selected="selected" >
	                    10:00 - 10:30
	                  </option>
	                  <option value="4"  selected="selected" >
	                    10:30 - 11:00
	                  </option>
	                  <option value="5"  selected="selected" >
	                    11:00 - 11:30
	                  </option>
	                  <option value="6"  selected="selected" >
	                    11:30 - 12:00
	                  </option>
	                  <option value="7"  selected="selected" >
	                    12:00 - 12:30
	                  </option>
	                  <option value="8"  selected="selected" >
	                    12:30 - 13:00
	                  </option>
	                  <option value="9"  selected="selected">
	                    13:00 - 13:30
	                  </option>
	                  <option value="10"  selected="selected">
	                    13:30 - 14:00
	                  </option>
	                  <option value="11"  selected="selected" >
	                    15:00 - 15:30
	                  </option>
	                  <option value="12"  selected="selected" >
	                    15:30 - 16:00
	                  </option>
	                  <option value="13"  selected="selected" >
	                    16:00 - 16:30
	                  </option>
	                  <option value="14"  selected="selected">
	                    16:30 - 17:00
	                  </option>
	                  <option value="15"  selected="selected" >
	                    17:00 - 17:30
	                  </option>
	                  <option value="16"  selected="selected" >
	                    17:30 - 18:00
	                  </option>
	                  <option value="17"  selected="selected" >
	                    18:00 - 18:30
	                  </option>
	                  <option value="18"  selected="selected">
	                    18:30 - 19:00
	                  </option>
	               </select>
	               <br><br><br>
	               <button class="more_appointments">
                      Reservar Horario
                   </button>
              </div>
            </div>
        </div>
      </div>
  </body>
</html>



