<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sample Headline, Sample Headline, Sample Headline, Reservar hora">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>PEDIR CITA</title>
    <link rel="stylesheet" href="reservas.css" media="screen">
  </head>

  <body>
    <section class="tablas">
      <div class="wrapper">
        <h2 class="subttl">SOLICITAR HORARIO DE CITA</h2>
          <div class="calendar-booking">
            <p type="text">Solicita una cita para acudir en los horarios disponibles.</p>
            <div class="calendar-booking-centre-row">
              <div class="col-sm-6 col-xs-12 calendar-booking-centre__name">
                 <p type="text"> Tipo de servicio: </p>
                  <span class="caret select"></span>
                  <select class="form-control">
                    <option value="1"  selected="selected" >
                      Extensión de Pestañas
                    </option>
                    <option value="2"  selected="selected" >
                      Lifting de Pestañas
                    </option>
                    <option value="3"  selected="selected" >
                      Lifting de Cejas
                    </option>
                    <option value="4"  selected="selected" >
                      Limpieza facial
                    </option>
                  </select>
              </div>
            </div>
            <br>
            <div class="calendar-booking-schedule">
              <div class="row calendar-booking-schedule__buttons">
                <div class="col-xs-6">
                  <button class="calendar-booking-schedule__buttons--left">
                      Semana anterior <i class="icon-left"></i>
                  </button>
                  <button class="calendar-booking-schedule__buttons--right">
                      Semana siguiente <i class="icon-right"></i>
                  </button>
                </div>
              </div>
              <div id="js_appointment_table" class="calendar-booking-schedule--closed">
                <div id="js_calendar_date_ini" data-date-ini="2021-05-31"></div>
                  <table class="calendar-booking-schedule__week" id="appointments_table">
                    <thead>
                      <tr class="calendar-booking-schedule__week--days">
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                      </tr>
                    </thead>
                    <br>
                    <tbody>
                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              09:30
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              10:30
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              11:30
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              12:30
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              13:30
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              15:30
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              16:30
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              17:30
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:00
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:00
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Lunes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Martes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Miércoles-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Jueves-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Viernes-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:30
                          </button>
                        </td>

                        <td class="calendar-booking-schedule__week--hours ">
                          <button data-role="Sábado-at-9" class="jq_presu_appointment" title="Pedir cita" data-source='34'>
                              18:30
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                <br>
                <button class="more_appointments">
                   Reservar Horario
                </button>
              </div>
            </div>
          </div>
        </section>
  </body>
</html>